{% extends 'navigation.html' %}
{% block body%}
{% load static %}

<div class="container" style="margin-top: 95px;">
    <img src="{% static 'images/about.jpg' %}" alt="" class="img" >
    <p>
        <h2>Welcome to NoteHub Website</h2>
        At NoteHub Website, we believe in the power of knowledge sharing. Our platform is designed to create a community where individuals can  learn, and grow together through the exchange of notes and ideas. Whether you're a student, educator, or lifelong learner, NoteHub Website is your go-to destination for seamless note sharing.
        
        <h3>Our Mission</h3>
        Our mission is to make education accessible to everyone by providing a collaborative space for sharing and discovering knowledge. We envision a world where learning knows no boundaries, and everyone has the opportunity to benefit from the collective wisdom of the community.
        
        <h3>What Sets Us Apart</h3>
        <ul>
        <li><b>Collaborative Learning Environment:</b> NoteHub Website is not just a platform; it's a community. Connect with like-minded individuals, share your insights, and explore a diverse range of perspectives.</li> <br>
        
        <li><b>User-Friendly Interface:</b> We've designed NoteHub Website with you in mind. Our user-friendly interface ensures that sharing and accessing notes is a hassle-free experience.</li> <br>
        
        <li><b>Privacy and Security:</b> Your data and privacy are of utmost importance to us. NoteHub Website employs robust security measures to ensure that your notes are shared with the right people while keeping your information secure.</li> <br>
        </ul>
        <h3>How It Works</h3>
        <ol>
        <li><b>Create an Account:</b> Joining NoteHub Website is quick and easy. Create your account to start sharing and discovering notes.</li><br>
        
        <li><b>Upload Your Notes:</b> Share your knowledge by uploading your notes. Whether it's class lectures, study guides, or research materials, contribute to the community.</li><br>
        
        <li><b>Explore and Learn:</b> Dive into a vast collection of notes contributed by the community. Find resources that resonate with your learning objectives.</li><br>
        </ol>
        
        <h3>Meet the Developer</h3>
        <a href="https://ramprasad2003.github.io/portfolio/" class="btn btn-danger">Click Here To Visit Profile</a><br><br>
        Thank you for being a part of the NoteHub Website community. Together, let's shape the future of education through collaborative learning. <br><br>
        
        NoteHub Website Team</p>

        <footer class="container mt-5 text-center">
            <p style="font-size: 20pt; color:darkblue;font-weight:bold;text-align:justify">COPYRIGHT &copy;<script>document.write(new Date().getFullYear());</script> All Rights Reserverd to <span style="color: brown;text-shadow:1px 1px black">Ram Prasad Chippada</span></p>
        </footer>
</div>
{%endblock%}